body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 0 auto;
  width: 800px;
  min-height: calc(100vh - 143px);
}


/* ----------------- tmp classes for Main component-----------------*/

.tempBcg {
  background-color: deepskyblue;
}
.tmpMain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tmpFilter {
  border: 1px firebrick dotted;
}

.tmpMainHeader {
  text-align: center;
}

.tmpMainChart {
  border: 1px blue dotted;
}