body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: relative;
  height: 100vh;
}

.bg-grey {
  padding: 10px;
  background-color: rgb(237, 236, 236);
}

.icon-separator {
  font-weight: 300;
  font-size: 18px;
  margin-left: 15px;
}

.icon-pin {
  float: right;
}

.container {
  margin: 0 auto;
  width: 600px;
}

/* ----------------- tmp classes for Main component-----------------*/

.main-graphs-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tmpFilter {
  border: 1px firebrick dotted;
}

.main-title {
  color: gray;
  font-weight: 200;
  font-size: 20px;
  text-transform: uppercase;
}

.tmpMainChart {
  border: 1px blue dotted;
}

/* ----------------- tmp classes for Header  component-----------------*/

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 40px;
  margin-left: 40px;
  background-color: rgb(17, 115, 194);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header-title {
  margin: 0;
  padding: 0;
  color: white;
  margin-left: 50px;
}

.header-user-account {
  margin: 0;
  padding: 0 5px;
  color: rgb(118, 177, 220);
  border-right: rgb(118, 177, 220) 1px solid;
}

.header-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-icons li {
  margin: 15px;
  padding: 0;
}

/* ----------------- tmp classes for Side toolbar  component-----------------*/

.toolbar-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 45px;
  background-color: rgb(5, 61, 111);
}

.tools-list {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.tools-list li {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid rgb(3, 46, 84);
}

.tools-list li svg {
  margin: 0;
  padding: 0;
}

.tools-list li:nth-of-type(4) {
  background-color: rgb(3, 46, 84);
}

.tools-list li:last-of-type {
  border-bottom: 1px solid rgb(3, 46, 84);
}
